
  <td-layout-manage-list #manageList
    [opened]="media.registerQuery('gt-sm') | async" 
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'"
    class="operations-jobs"
  >
  <mat-toolbar td-sidenav-content>
    <mat-toolbar-row>
      <!-- <mat-icon>linear_scale</mat-icon> -->
      <button mat-icon-button td-menu-button [tdLayoutToggle]="true">
        <mat-icon>menu</mat-icon>
    </button>
      <span style="padding-left:10px; text-transform: capitalize">Jobs</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
    <a mat-list-item [class.active]="searchTerm == ''"  (click) = "selectFilter('')">
      <mat-icon matListIcon>list</mat-icon>
      All
    </a>
    <a mat-list-item [class.active]="searchTerm == 'executed'"  (click) = "selectFilter('executed')">
      <mat-icon matListIcon>check_circle</mat-icon>
      Executed
    </a>
    <a mat-list-item [class.active]="searchTerm == 'running'"  (click) = "selectFilter('running')">
      <mat-icon matListIcon>fast_forward</mat-icon>
      Running
    </a>
    <a mat-list-item [class.active]="searchTerm == 'scheduled'"  (click) = "selectFilter('scheduled')">
      <mat-icon matListIcon>access_time</mat-icon>
      Scheduled
    </a>
    <a mat-list-item [class.active]="searchTerm == 'waiting'"  (click) = "selectFilter('waiting')">
      <mat-icon matListIcon>more_horiz</mat-icon>
      Waiting
    </a>
  </mat-nav-list>
  <mat-toolbar>
    <mat-toolbar-row>
      <div td-toolbar-content layout="row" layout-align="start center" flex>
        <span style="text-transform: capitalize">{{filterTerm}}</span>
        <span flex></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <filtered-paginated-table-view      
      [filteredData]="filteredData"
      [columns]="columns"
      [clickable]="true"
      [sortable]="true"
      [sortOrder]="'DESC'"
      [sortBy]="sortBy"
      [firstLast]="false"
      [pageSize]="pageSize"
      [filteredTotal]="filteredTotal"
      (rowClicked)="groupDetails($event)"
      (sortChanged)="sort($event)"
      (searchDebounced)="search($event)"
      (pageSizeChanged)="onPageSizeChange($event)"
      [allowedPageSize]="[5,10,20,50]"
      [showToolbar]="false"
      >
      <ng-template tdDataTableTemplate="state" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <mat-icon matListAvatar *ngIf="value == 'running'" class="image-shadow" style="color : #43a047 !important">fast_forward</mat-icon>
          <mat-icon matListAvatar *ngIf="value == 'scheduled'" class="image-shadow" style="color : #43a047 !important">schedule</mat-icon>
          <mat-icon matListAvatar *ngIf="value == 'waiting'" class="image-shadow" style="color: #f3753f !important;">rowing</mat-icon>
          <mat-icon matListAvatar *ngIf="value == 'executed'" class="image-shadow" style="color: #fb8c00 !important;">remove_circle_outline</mat-icon>
        </div>
    </ng-template>
    <ng-template tdDataTableTemplate="jobName" let-value="value" let-row="row" let-column="column">
      <div>{{row.jobName}}</div>
      <div *ngIf="row.state == 'running'" style="color : #43a047 !important">{{row.description}}</div>
      <div *ngIf="row.state == 'scheduled'" style="color : #43a047 !important">{{row.description}}</div>
      <div *ngIf="row.state == 'waiting'" style="color : #f3753f !important">{{row.description}}</div>
      <div *ngIf="row.state == 'executed'" style="color : #fb8c00 !important">{{row.description}}</div>
  </ng-template>
  <ng-template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
    <button mat-button class="raised-button stopButton" *ngIf="row.state != 'executed'">STOP</button>
    <button mat-button class="raised-button deleteButton" *ngIf="row.state != 'running'">DELETE</button>
  </ng-template>
  </filtered-paginated-table-view>
</td-layout-manage-list>
