<div>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <div *ngIf="!loading" class="flex-container" fxLayoutAlign="center center">
            <mat-card class="push-bottom-none" tdMediaToggle="gt-xs" [mediaClasses]="['push']" style="color: rgba(0, 0, 0, 0.60);">
                <mat-card-title *ngIf="showToolbar"  layout="row" layout-align="start center" flex>
                        <mat-icon style="vertical-align: middle; display: inline-flex;" flex="10">search</mat-icon>
                        <td-search-input flex style="display: inline-flex; max-height: 50px; font-size: 20px; margin-left:15px;" #searchBox placeholder="Filter" (searchDebounce)="search($event)" searchIcon="">
                        </td-search-input>
                        <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content>
                    <td-data-table #dataTable
                    [data]="filteredData"
                    [columns]="columns"
                    [clickable]="true"
                    [sortable]="true"
                    [sortOrder]="sortOrder"
                    [sortBy]="sortBy"
                    (sortChange)="sort($event)"
                    (rowClick)="onRowClick($event)">
                        <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                            <h3>No results to display.</h3>
                        </div>
                        <ng-content></ng-content>
                    </td-data-table>
                    <!-- paging not working because of this bug in mat-select https://github.com/angular/material2/issues/11063 -->
                    <td-paging-bar #pagingBar 
                        [firstLast]="false"
                        [pageSize]="pageSize"
                        [total]="filteredTotal"
                        (change)="pageSizeChange($event)">
                            <span hide-xs>Rows per page:</span>
                            <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                                <mat-option *ngFor="let size of allowedPageSize" [value]="size">
                                    {{size}}
                                </mat-option>
                            </mat-select>
                            {{pagingBar.range}}
                            <span hide-xs *ngIf="showTotal">of {{pagingBar.total}}</span>
                    </td-paging-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
