<td-layout-nav logo="assets:kylo-logo-white" navigationRoute="/">
    <button mat-icon-button td-menu-button>
        <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" style="justify-content: flex-end;" flex>
        <div style="width: 100%;" *ngIf="showSearchBar()" fxLayout="row" fxLayoutAlign="center" fxFlex
            class="global-search-container">

            <div layout="row" layout-align="start center" class="kylo-app-search-box-container" flex>
                <span flex-gt-xs="15"></span>
                <span flex-gt-sm="70" flex layout="row" layout-align="start center" class="td-search-box mat-whiteframe-z1"
                    [class.td-search-active]="searchInput.focused">
                    <mat-form-field flex floatLabel="never">
                        <span class="td-search-icon" matPrefix>
                            <mat-icon class="kylo-search-icon">search</mat-icon>
                        </span>
                        <input id="ac-search-bar" #searchInput="matInput" matInput placeholder="Search apps and scripts"
                            aria-label="Apps">
                    </mat-form-field>
                </span>
                <mat-icon (click)="endSearch()" class="kylo-close-search-icon">close</mat-icon>
            </div>
        </div>

        <div class="toolbar-icons-container">

            <div class="toolbar-icons">
                <mat-icon style="vertical-align: bottom" *ngIf="showPreSearchBar()" (click)="initiateSearch()">search</mat-icon>
            </div>
            <div class="toolbar-icons">
                <mat-icon style="vertical-align: bottom">notifications</mat-icon>
            </div>
            <div class="toolbar-icons">
                <mat-icon style="vertical-align: bottom">more_vert</mat-icon>
            </div>

        </div>

    </div>
    <router-outlet></router-outlet>
</td-layout-nav>