<mat-toolbar style="margin-bottom: 25px;">
    <mat-toolbar-row>
      <div flex layout="row" layout-align="start center">
        <mat-icon style="margin-right: 16px;">folder_special</mat-icon>
        <span>CATEGORIES</span>
        <span flex></span>
        <mat-icon>help</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div flex-gt-xs="80">
        <div *ngIf="apps && apps?.length != 0" layout="column">
            <div class="sub-header">
                <div layout="row" layout-align="start center">
                    <h3 flex class="sub-header-1">RECENT APPLICATIONS AND SCRIPTS</h3>
                    <a mat-button class="sub-header-2">VIEW MORE</a>
                </div>
                <mat-divider></mat-divider>
            </div>
          <div layout="row" layout-wrap>
            <ng-template let-app let-index="index" ngFor [ngForOf]="apps">
              <div flex-gt-xs="25" flex-xs="50">
                <mat-card href class="mat-card-colored">
                    <div layout="row">
                      <div [ngClass]="'tc-white bgc-' + app?.color" class="mat-card-left-section" layout="column" layout-align="center center">
                        <mat-icon class="text-30">{{app.icon}}</mat-icon>
                      </div>
                      <div flex class="mat-card-right-section">
                        <div layout="column" layout-padding class="mat-card-right-section card-content-sm" style="min-height:64px;">
                          <div class="mat-card-subheading-2 mat-card-right-section no-margin">{{app.name}}</div>
                          <div class="category-icons mat-card-right-section"> {{app.type}} </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div layout="row" layout-align="end center">
                          <button mat-icon-button>
                            <mat-icon><span class="category-icons">edit</span></mat-icon>
                          </button>
                          <button mat-icon-button>
                            <mat-icon class="category-icons">{{app.favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                </mat-card>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>