.mat-card-content {
    padding:  0 !important;
}

.marginRight {
    margin-right: 8px;
}
.center-align {
    display: inline-block;
    vertical-align: bottom;
}
.feeds-table td-data-table {
    border-bottom: 0;
}